#poligons {
    position: absolute;
    right: 0;
    bottom: 0;
  }

body {
    display: flex;
}

.tudo {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  .quadrante-esquerdo {
    margin-top: 20px;
    margin-left: 20px;
    align-items: start;
    background-color: #7571A0;
    max-width: 40%;
    background-color: #393848;
    padding: 30px;
    border-radius: 11px;
    width: 500px;
    min-width: 500px;
    max-width: 500px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .escrita-link-derivados {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .escrita-link, .escrita-link-nao-direcionada {
    margin-left: 25px;
    margin: 0px;
  }

  label.escrita-link:hover, label.escrita-link:focus{
    background: white !important;
    color: #5a51af !important;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
    
    margin-right: auto;
    }

  .quadrante-direito {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 20px;
    margin-top: 20px;
    gap: 20px;
    min-width: 300px;
    max-width: 300px;
  }

  .direito-baixo, .direito-cima { 
    background-color: rgb(101, 97, 139);
    padding: 30px;
    border-radius: 11px;
    position: relative;
    padding-top: 20px;
    
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .direito-cima {
    height: 350px;
  }

  .direito-baixo {
    width: 100%;
    height: 290px;
  }

  .titulo-card {
    width: 100%;
    text-align: center !important;
    position: sticky;
    top: -20px;
    background-color: rgb(101, 97, 139);

    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #494761;
  }

  .info-card {
    text-align: start !important;
    font-size: 20px;
  }

  @media (max-width: 1600px) {
    .tudo {
        display: flex;
        justify-content: space-between;
        width: 80%;
      }
  }
  @media (max-width: 1200px) {
    .tudo {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
  }
  @media (max-width: 900px) {
    .tudo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
      }

      .quadrante-direito {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 20px;
        gap: 20px;
        min-width: 300px;
        max-width: 300px;
      }
    
  }

  .fas {
    margin-right: 6px;
  }



/*Código do slider*/
/*-----------------------------------------*/
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #5a51af;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #5a51af;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/*-----------------------------------------*/

.link {
    text-decoration: none;
    color: white;
    margin-right: auto;
}

.link:hover, .link:focus{
    color: white !important;
    border-radius: 10px;
 
    
    margin-right: auto;
    }